@using ChannelEngine.Shared.Entity
@model IEnumerable<InProgressOrders>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ChannelEngine</h1>
    <h2>Technical assignment for .Net Developer!</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("GTIN")
                </th>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayName("Quantity")
                </th>
                <th>
                    @Html.DisplayName("MerchantProductNo")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => b.GTIN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => b.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => b.Quantity)
                    </td>
                    <td>
                        @*@Html.ActionLink(b.MerchantProductNo, "UpdateStockUsingMerchantProductNo", "Home", new { merchantProductNo = b.MerchantProductNo })*@
                        @*@Html.ActionLink("talks", "ClientTalks", "Talk", new { @class="talklink"})*@
                        <a href="#" onclick="test('@b.MerchantProductNo')" >@b.MerchantProductNo</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>


    function test(id){
        $.ajax(  
        {  
            type: 'POST',  
            dataType: 'JSON',  
            url: '/Home/UpdateStockUsingMerchantProductNo',  
            data: { merchantProductNo: id },  
            success:  
                function (response)  
                {
                    alert(response.message);
                },  
            error:  
                function (response)  
                {  
                    alert("An error occurred while updating record!")
                }  
        }); 
    }


</script>